@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

@media screen and (max-width:575px)
{
        .left_img{
    bottom: 0px;
    position: absolute;
     z-index: -1;
}

.cnt{
    height: 100vh;
    position: relative;
    
}

.right_img{
 height: 100vh;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: -1;
    max-width:100vw;
}

            .left_img{
max-width:100vw;
                
}
    
      .mesh {
    font-size: 60px;
      font-family:'Noto Sans JP', sans-serif;
    background-color: rgb(255,255,255,0.4);
    color: rgb(13,127,211);
    
    letter-spacing: 1ex;
    text-indent: 1ex;
    top: 40%;
    position: relative;
    text-align: center;

}  
    
    
}

@media screen and (min-width:576px) and (max-width:768px) {

  .mesh {
    font-size: 100px;
      font-family:'Noto Sans JP', sans-serif;
    background-color: rgb(255,255,255,0.4);
    color: rgb(13,127,211);
    
    letter-spacing: 1ex;
    text-indent: 1ex;
    top: 40%;
    position: relative;
    text-align: center;
      z-index: 0;

}  
    .cnt{
    height: 100vh;
    position: relative;
       z-index: 0;  
    
}
    
        .left_img{
    bottom: 0px;
    position: absolute;
     z-index: -1;
}
    
    .right_img{
 height: 100vh;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: -1;
}

}

@media screen and (min-width: 769px) {
    

    
    .left_img{
    bottom: 0px;
    position: absolute;
     z-index: -1;
}

.cnt{
    height: 100vh;
    position: relative;
    
}

.right_img{
 height: 100vh;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: -1;
}


.mesh {
    font-family:'Noto Sans JP', sans-serif;
    font-size: 130px;
    /* font-weight: bold; */
    
    background-color: rgb(255,255,255,0.4);
    color: rgb(13,127,211);
    
    letter-spacing: 2ex;
    text-indent: 2ex;
    top: 40%;
    position: relative;
    text-align: center;

}
    
    
    .feature{
        /*background-color: rgb(0,0,255,0.1);*/
        background-image:  linear-gradient( rgba(255,255,255,0), rgba(0,0,0,0.1));
        height: 100vh;
    }

    .feature_heading{
        position: absolute;
        margin-top:20vh;
        margin-left: 25px;
        font-size: 50px;
        
    }
    
    .daily_planner{
        position: absolute;
        height: 70vh;
        margin-left:40vw;
        margin-top: 25vh;    /* 250px */
    }
    
    .task_list{
        position: absolute;
        height: 90vh;
        margin-left:40vw;
        margin-top: 9vh;
        overflow: hidden;
    }
    
    .feature_paragraph{
        position: absolute;
        font-size: 30px;
        margin-top: 35vh;
        margin-left: 25px;
    }
    
    #footer_one{
        color: white;
        text-align: center;
         margin-top: 0vh;
        padding-top: 2vh;
         padding-bottom: 3vh;
         margin-bottom: 0vh;
        background-color: rgba(0,0,0,1);
    }
    #footer{
        background-color: rgba(0,0,0,1);
    }
    
}